<h2>Welcome to the Pauper's Reddit</h2>
<div></div>
<p>Select by Keyword: </p>
<input type = "text" [(ngModel)] = "SearchName"/>
<button (click)="SearchRedditByName(SearchName)">View Results</button>

<p>Search By Index: </p>
<input type="text" [(ngModel)] = "SearchIndex"/>
<button (click)="SearchRedditByIndex(SearchIndex)">View Result</button>

<p>Random Reddit Post: </p>
<button (click) = "SearchRedditByIndex(RandomReddit())">Random Result</button>

<div *ngFor="let r of resultReddit">
<p>Id: {{r.id}}</p>
<p>Name: {{r.name}}</p>
<p>Thumbnail: {{r.thumbnail}}</p>
<p></p>
<p></p>
</div>
